body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/*This attributes apply to a large number of elements*/

h2 {
    color: rgb(31, 31, 31);
}

p {
    color: rgb(34, 47, 100);
}

a {
    text-align: center;
    text-decoration: none;
    font-family: inherit;
}

main a {
    width: 150px;
    height: auto;
    padding: 10px 18px;
    display: inline-block;
    font-weight: bold;
    border: 1px solid rgb(26, 9, 58);
    border-radius: 2px;
    margin-right: 50px;
    color: rgb(26, 9, 58);
}

/*The ending*/

/*The beginning of home content and main content styling*/

.home-content-holder {
    width: 100%;
    height: 100vh;
    background-image: url(images/designer_1.svg);
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}

.home-content {
    top: 0;
    position: absolute;
    margin: 100px;
    padding: 4em;
    max-width: 50%;
}

.home-content h1{
    font-size: 3em;
    color: rgb(26, 9, 58);
}

.home-content p {
    color: rgb(34, 47, 100);
    line-height: 30px;
    padding: 0px 100px 0px 0px;
}

.blue-bg {
    color: white;
    background-color: rgb(26, 9, 58);
}

.main-content section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 2em 7em;
    overflow: hidden;
}

#special {
    height: 300px;
    margin-bottom: 60px;
}

.main-content section img {
    width: 560px;
    height: auto;
}

.main-content p {
    color: rgb(34, 47, 100);
    line-height: 30px;
}

/*The end of home and main content styling*/

/*Footer styling begins*/
footer {
    background-color: rgba(231, 236, 255, 255);
    bottom: 0;
    padding: 1px 30px;
    display: block;
}

footer div ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 0px;
    align-items: center;
}

footer div ul li {
    margin: 0px;
}

.top-footer{
    padding: 10px;
    border-bottom: 1px solid gray;
}

.top-footer li {
    margin: 10px;
}

.bottom-footer ul li a{
   margin: 20px;
}

.copyright {
    color: rgb(59, 59, 59);
}

.join {
    width: 90px;
    height: auto;
    padding: 8px 14px;
    display: inline-block;
    font-weight: bold;
    border-radius: 2px;
}

.icons-holder img {
    color: green;
    width: 20px;
    height: 20px;
}



@media screen and (max-width: 780px) {
    .home-content {
        top: 0;
        position: absolute;
        margin: 100px auto;
        padding: 2em;
        max-width: 90%;

    }

    h1 {
        font-size: 3em;
        color: rgb(26, 9, 58);
    }

    .main-content section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background: white;
        padding: 2em;
        overflow: hidden;
    }

    .bottom-footer ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
