* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: white;
}

/*General styling begins*/

h1 {
    color: rgb(26, 9, 58);
}

h2 {
   color: rgb(26, 9, 58);
}

p {
    color: rgb(37, 60, 150);
    line-height: 30px;
    margin: 10px 0px;
}

a {
    text-decoration: none;
    color: initial;
    text-align: center;
}
/*General styling ends*/

/*Header styling begins*/
header {
    width: 100%;
    height: 100vh;
    background-image: url(images/designer.svg);
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: scroll;
    display: flex;
    justify-content: left;
    align-items: center;
}

header #header-content {
    width: 800px;
    height: 300px;
    margin-left: 200px;
}

header a {
    border: 1px solid rgb(26, 9, 58);
    width: 160px;
    height: auto;
    padding: 8px;
    font-weight: bold;
    display: inline-block;
    border-radius: 3px;
    margin: 10px 50px 0px 0px;
    color: rgb(26, 9, 58);
}

/*header #header-content #header-buttons a{
    margin: 10px 50px 0px 0px;
}*/

.blue-bg-link {
    background-color: rgb(26, 9, 58);
    color: white;
}

.blue-bg-link:hover {
    background-color: rgba(231, 236, 255, 255);
    color: rgb(26, 9, 58);
}

.white-bg-link:hover {
    background-color: rgba(231, 236, 255, 255);
}
/*Header styling ends*/

/*main styling begins*/
main {
    padding: 20px;
}

main .main-content img {
    width: 450px;
    height: auto;
    overflow: hidden;
}

main .main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

main .main-content a {
    text-decoration: none;
    text-align: center;
    border: 1px solid rgb(26, 9, 58);
    width: 160px;
    height: auto;
    padding: 8px;
    font-weight: bold;
    display: inline-block;
    border-radius: 3px;
    margin: 10px 50px 0px 0px;
}

main .main-content span {
    width: 100%;
    height: 100%;
}
/*main styling ends*/

footer {
    background-color: rgba(231, 236, 255, 255);
    padding: 60px 30px 2px 60px;
    bottom: 0;
}

footer span:nth-child(1){
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(217, 226, 238);
    padding: 0px 0px 20px 0px;
}

footer span:nth-child(1) .join-us {
    width: 120px;
    height: auto;
    text-align: center;
    padding: 5px;
    border-radius: 3px;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid rgb(26, 9, 58);
}

footer span:nth-child(1) .join-us:hover {
    border: 1px solid rgb(26, 9, 58);
}

footer span:nth-child(2) ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 15px 0px 30px 0px;
}

footer .footer-icons img {
    width: 20px;
    height: 20px;
}

footer span:nth-child(2) .for-left a{
    margin-left: 0;
    margin-right: 72px;
    color: rgb(37, 60, 150);
    text-decoration: none;
} 

footer span:nth-child(2) .for-left a:hover {
    text-decoration: underline;
}

footer span:nth-child(2) .for-left a:active {
    color: red;
}

footer span:nth-child(2) .for-right a{
    margin-left: 22px;
    margin-right: 0;
} 

footer span:nth-child(2) .for-right a:hover {
    background-color: rgb(26, 9, 58);
}

/*Beginning of the media queries for tablet and phone screen sizes begins*/
@media screen and (max-width: 762px){

    /*General styling begins*/
    header #header-content {
        width: auto;
        height: auto;
        margin: 20px;
    }

    header #header-links {
        display: flex;
        justify-content: space-between;
    }
    
    header a, main a {
        margin: 0;
        width: 150px;
    }
    /*General styling ends*/
    
    /*Header styling begins*/
    header {
        display: flex;
        justify-content: left;
        align-items: center;
    }
    /*Header styling ends*/
    
    /*main styling begins*/
    main {
        padding: 0px 20px;
    }

    main div span:nth-child(1) {
        margin: 50px 0px;
        display: flex;
        justify-content: center;
    } 
    
    main div {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin-top: 0px;
    }
    
    main a {
        margin-bottom: 50px;
    }
    /*main styling ends*/

    /*footer styling begins*/
    footer {
        padding: 0px 20px;
        bottom: 0;
        margin-top: 100px;
    }
    
    footer span:nth-child(1){
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid rgb(217, 226, 238);
        padding: 20px 0px;
    }
    footer span:nth-child(2) ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0px 0px;
    }

    footer span:nth-child(2) ul li {
        width: 100%;
        padding: 20px 0px;
        margin-top: 5px;
        display: flex;
        justify-content: space-between;
    }

    footer span:nth-child(2) .for-left {
        border-bottom: 1px solid rgb(217, 226, 238);
    }

    footer span:nth-child(2) .for-left a{
        margin-left: 0;
        margin-right: 0;
        text-decoration: none;
    } 
    
    footer span:nth-child(2) .for-right a{
        margin-left: 0;
        margin-right: 0;
    } 
    /*footer styling ends*/
    
}
/*Media query for phones and tablets screen sizes ends*/

/*Beginning of the media query forphone screen sizes only, begins*/
@media screen and (max-width: 652px){
    header {
        background-image: none;
    }
}
